{# buttons.twig #}
{% set buttons = buttons is defined ? buttons : [] %}
{% set wrapper = wrapper is defined ? wrapper : false %}

{% if wrapper %}
	<div class="onion-button__button-wrapper onion-button__button-wrapper--{{ wrapper_class }}">


	{% endif %}


	{% for button in buttons %}
		{% if button.url is defined and button.url %}
			<a href="{{ button.url }}" id="{{ button.id }}" class="onion-button__button onion-button__button--{{ button.style }} {{button.blockClassName}}__{{button.selector}}">


				{{ button.label }}
			</a>
		{% else %}
			<button id="{{ button.id }}" class="onion-button__button onion-button__button--{{ button.style }} {{button.blockClassName}}__{{button.selector}}" onclick="{{button.onclick}}">
				{{ button.label }}
			</button>
		{% endif %}
	{% endfor %}

	{% if wrapper %}
	</div>
{% endif %}
